[Desktop Entry]
Encoding=UTF-8
Name=Device Manager
Name[pl]=Menadżer urządzeń
Comment=HAL Device Manager
Comment[pl]=Menadżer urządzeń kożystający z HAL
Exec=hal-device-manager
Icon=hwbrowser
StartupNotify=true
Terminal=false
Type=Application
Categories=GNOME;System;
# vi: encoding=utf-8
